{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          Based in Andhra Pradesh, India, Hot N' Fast is a family owned
          Mediterranean restaurant, focused on traditional recipes served with a
          modern twist.
        </p>
        <p>
          The chefs draw inspiration from Indian, Greek, and Turkish culture
          and have a menu of 12-15 items that they rotate seasonally.
        </p>

        <p>
          The restaurant has a rustic and relaxed atmosphere with moderate
          prices, making it a popular place for a meal any time of the day.
        </p>

        <p>
          Hot N' Fast is owned by two Indian Sisters, Lakshmi and Varshitha, who
          moved to the United States to pursue their shared dream of owning a
          restaurant.
        </p>

        <p>
          To craft the menu, Lakshmi relies on family recipes and her experience
          as a chef in India.
        </p>

        <p>
          Varshitha does all the marketing for the restaurant and led the effort to
          expand the menu beyond classic Indian to incorporate additional
          cuisines from the mediterranean region.
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/mario-and-adrian.jpg' %}"
            alt="Lakshmi and Varshitha"
          />
          <figcaption class="figure-caption">
            Hot N' Fast owners Lakshmi and Varshitha.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
