{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section>
    <article>
      <h2>Our New Menu</h2>
      <img src="{% static 'img/grill.jpg' %}">
      <p>
        Our menu consists of 12-15 seasonal items based on Indian with the touch of modern.
      </p>
      <p>
        <a href="{% url 'menu' %}">See our new menu</a>
      </p>
    </article>
    <article>
      <h2>Book a table</h2>
      <img src="{% static 'img/blur.jpg' %}">
      <p>
        Reserve your table with modern dining experience.
      </p>
      <p>
        <a href="{% url 'book' %}">Book your table now</a>
      </p>
    </article>
    <article>
      <h2>Opening Hours</h2>
      <img src="{% static 'img/head_chef.jpg' %}">
      <p>
        The Hot N' fast Restaurant is open 7 days a week, except for public holidays. 
      </p>
      <ul>
        <li>Mon - Fri: 11Am - 9pm</li>
        <li>Sat: 10Am - 11pm</li>
        <li>Sun: 11Am - 1Am</li>
      </ul>
    </article>
  </section>
{% endblock %}